@import "tailwindcss";

:root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background: #F0FFFF;
    color: #ffffff;
    scroll-behavior: smooth;
}

.bg-image{
    background-image:url("./assets/jason-root.webp") ;
}

#work, #about , #experrience, #testimonials, #contact {
    scroll-margin-top: 80px;
}
